

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');



  * {
    text-decoration: none;
  }
body {
    font-family: 'Roboto', sans-serif;
}


/* Mobile First */

header .nav-links {
    display: none;
}

header .nav-links a {
    color:#222;
}

header {
    display: flex;
    /* default */
    /* flex-direction: row; */
    justify-content: space-between;
    /* align-items: center; */
    align-items: center;
}


/* .shirketler img:nth-child(1),
.shirketler img:nth-child(2),
.shirketler img:nth-child(3) {
    display: none;
}  */

.shirketler img:not(:last-child) {
    display: none;
}

.shirketler img:last-child {

    /* display: block;
    margin: 0 auto; */
    margin-left: 80px;
}

ul {
    list-style-type: square;
}

.cards-section {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(306px,1fr));
   gap: 30px;
    overflow-x: hidden;
   
    
}

.services h6 {
    color: #FF5E69;
text-align: center;
font-family: Roboto;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 100% */
letter-spacing: 4px;
text-transform: uppercase;
}

.services h1 {
    color: #000;
text-align: center;
font-family: Roboto;
font-size: 34px;
font-style: normal;
font-weight: 700;
letter-spacing: 1px;
}

.card {
    /* width: 306px; */
    box-shadow: 10px 30px 30px rgba(0,0,0,.3);
    border-radius: 4px;

    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;


}

/* .card:hover {
    transform: scale(1);
    transform: rotate(360deg);
} */
.blogs {
    background-color: #222;
    padding:20px;
}

.blog {
    border-bottom: 1px solid #dedede;
   
    padding: 40px 0;
}

.blogs a, .blogs span {
    color:#fff;
}

.blogs .blog-left-side h2 {
    color: #FFF;

font-size: 30px;
text-align: center;

font-weight: 700;

letter-spacing: 1px;
}

.blogs .blog-left-side h6 {
    color: #FFA84B;

font-size: 22px;
font-weight: 700;
letter-spacing: 4px;
text-transform: uppercase;
text-align: center;
margin: 0;

}

.blogs .blog-right-side h2 {
    color: #FFF;

font-family: Roboto;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 128.571% */
}


.blogs .blog-right-side h2 {
    font-size: 22px;
}

/* MEDIA SORGULARI */

@media(min-width:768px) {
   .fa-burger {
    display: none;
   }

   header .nav-links {
    display: flex;
    gap: 10px;
}

.shirketler {
    display: flex;
    justify-content: space-around;
}

.shirketler img:nth-child(3) {
    display: block;
}

.services h1 {
    font-size: 52px;
}

.blogs {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    color:#fff;
    gap: 70px;
    /* padding-top: 100px;
    padding-bottom: 100px; */
    padding: 100px;
    
}



.blog-left-side {
    flex-basis: 30%;
}
/* Group selector */
.blogs .blog-left-side h6, .blogs .blog-left-side h2 {
    text-align: left;
}

.blogs .blog-right-side h2 {
    font-size: 24px;
}

.blogs  {
padding: 100px 40px;
}


}


@media(min-width:1080px) {
    header {
        padding: 20px 112px;
    }

    .shirketler img {
        display: flex !important;
    }

   
}





